/*
Bootstrap の変数をここで上書きします
ここで値をセットした変数は、Bootstrap 側で上書きされなくなります。
*/

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

// @font-face {
//   font-family: "Yu Gothic";
//   src: local("Yu Gothic Medium");
//   font-weight: 100;
// }
// @font-face {
//   font-family: "Yu Gothic";
//   src: local("Yu Gothic Medium");
//   font-weight: 200;
// }
// @font-face {
//   font-family: "Yu Gothic";
//   src: local("Yu Gothic Medium");
//   font-weight: 300;
// }
// @font-face {
//   font-family: "Yu Gothic";
//   src: local("Yu Gothic Medium");
//   font-weight: 400;
// }
// @font-face {
//   font-family: "Yu Gothic";
//   src: local("Yu Gothic Bold");
//   font-weight: bold;
// }
// @font-face {
//   font-family: "Helvetica Neue";
//   src: local("Helvetica Neue Regular");
//   font-weight: 100;
// }
// @font-face {
//   font-family: "Helvetica Neue";
//   src: local("Helvetica Neue Regular");
//   font-weight: 200;
// }

// // IE hack
// @media all and (-ms-high-contrast: none) {
//   body,
//   tooltip,
//   popover {
//     font-family: Verdana, Meiryo, sans-serif;
//   }
// }


/* Bootstrap を読み込みます */
@import "node_modules/bootstrap/scss/bootstrap";