block var
doctype html
html(lang ="ja")
  head
    meta(charset="utf-8")

    //- TITLE処理
    - var siteName = "Webpack v4で Bootstrap v4.0 を使うサンプル"

    if pageName == ""
      -
        var title = siteName
        var ogpTitle = siteName
    
    else
      -
        var title = pageName + '｜' + siteName
        var ogpTitle = pageName + '｜' + siteName

    title #{title}
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no, email=no, address=no")

    //- OGP
    
    if pageUrl == ""
      - 
        var ogpType= "website"
    
    else
      - 
        var ogpType= "article"

    meta(property="og:title" content=ogpTitle)
    meta(property="og:type" content=ogpType)
    meta(property="og:image" content="https://example.com/ogp.png")
    meta(property="og:url" content="https://example.com/" + pageUrl)
    meta(property="og:description" content=description)
    meta(property="og:site_name" content=siteName)
    meta(property="og:locale" content="ja")

    //- Link
    link(rel="stylesheet",href="css/style.css")

  body
    block body
    script(src="js/app.js")
